<h1> Hello Faisal, Create a New Post </h1>

<%= form_with model:@place do |form|  %>

<p>
    <%= form.label "title" %>
    <%= form.text_field "title" %>
</p>

<p>
    <%= form.label "description"  %>
    <%= form.text_field "description"  %>
</p>

<p>
    <%= form.label "posted_on", "Date (MM/DD/YYYY)"  %>
    <%= form.date_field "posted_on"  %>
</p>

<%= form.hidden_field "place_id" %>
<%= form.submit "Save Post" %>

<% end %>