<h1> <%= @place.name %> </h1>

<div class = "row">
    <% for post in @place.posts %>
        <div class = "col-3">
            <h3 style="color:black;font-size:20px;"><%= post.title %> </h3>
            <p><%= post.description %> </p>
            <p style="color:black;font-size:12px;"><em><%= post.posted_on %> </em> </p>
            
        </div>
    <%end%>
</div>

<p><a href="/posts/new?place_id=<%= @place.id%>">Create a New Post for <%= @place.name%></a> </p>


<p><a href="/places"> Back to Places page </a> </p>

